<%- include('partials/header'); %>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="post-title" class="form-label" >Title</label>
        <input type="text" class="form-control" name="postTitle"id="post-title">
    </div>
    <div class="mb-3">
            <label for="post-content" class="form-label" >post</label>
            <textarea class="form-control" name="postBody"id="post-content" rows="3"></textarea>
    </div>
            <button type="submit" class="btn btn-primary" class="mb-3">Publish</button>
        
</form>



<%- include('partials/footer'); %>