
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background: linear-gradient(60deg,plum,rgb(55, 239, 227));
}
.navbar-nav  li a:hover {
    color: #a1eede !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(90deg,plum,rgb(55, 239, 227));
}

.footer p {
    margin-top: 12px;
	font-size: 15px;
    color: #fff;
}
.mb-3{
    margin-top: 10px;
}